<div class="container">
  <h1>Our Services</h1>
  <div class="cards">
    <% @services.each do |service| %>
      <div class="card">
        <div class="card-image">
          <% if service.image.present? %>
            <%= image_tag service.image, class: "service-image" %>
          <% else %>
            <div class="placeholder-image">
              <p>No Image Available</p>
            </div>
          <% end %>
          <div class="date">
            <%= service.date%>
          </div>
        </div>
        <div class="card-details">
          <h2><%= service.title %></h2>
          <p><%= service.description %></p>
          <div class="rating">
            <%= service.rating %>
          </div>
        </div>
      </div>
    <% end %>
    <%# <p>lorem</p> %>
  </div>
</div>
